<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
            <footer th:fragment="footer" class="mt-5 pt-5 pb-5 footer">
                <div class="container">
                    <hr>
                    <div class="row">
                        <div class="col-lg-5 col-xs-12 about-company">
                            <h2>О компании</h2>
                            <p class="pr-5 text-black">CodeMarket это сеть магазинов цифровых товаров по всей России.</p>
                            <div class="row mt-4">
                                <div class="col copyright">
                                    <p class=""><small class="text-black-50">© 2023. All Rights Reserved.</small></p>
                                </div>
                            </div>
                        </div>
                    <div class="col-lg-3 col-xs-12 links">
                        <div class="row fs-3">Ссылки</div>
                            <div class="row">
                                <a class="link-secondary p-0" href="">Поставщики</a>
                                <a class="link-secondary p-0" href="">Гарантии</a>
                                <a class="link-secondary p-0" href="">Доставка</a>
                            </div>
                    </div>
                    <div class="col-lg-4 col-xs-12 location">
                        <h4 class="mt-lg-0 mt-sm-4">Адрес</h4>
                        <p>г. Рязань, РГРТУ, общежитие 5</p>
                        <p class="mb-0"><i class="fa fa-phone mr-3"></i>8961 035-55-35</p>
                        <p><i class="fa fa-envelope-o mr-3"></i>svyatoslav.wot@gmail.com</p>
                    </div>
                    </div>
  
                </div>
            </footer>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</html>