<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Товар</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<div class="row" th:insert="templates/nav::nav"></div>
<div class="container align-items-center fs-5">
    <div class="row mt-5">
        <p class="text-center fs-3">О товаре</p>
    </div>
    <hr>
        <div>ID: </div>
        <div th:text="${product.getId()}"></div>
        <br>
        <div>Наименование: </div>
        <div th:text="${product.getName()}"></div>
        <br>
        <div>Описание: </div>
        <div th:text="${product.getDescription()}"></div>
        <br>
        <div>Стоимость: </div>
        <div th:text="${product.getCost()}"></div>
<hr>
    <a class="btn btn-warning" th:href="@{/products/{id}/edit (id=${product.getId()})}">Редактировать товар</a>

    <form th:action="@{/products/{id}(id=${product.getId()})}" th:method="DELETE">
        <hr>
        <input class="btn btn-danger" type="submit" value="Удалить товар"/>
    </form>
<div class="row" th:insert="templates/footer::footer"></div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</html>