<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Продукты в заказах</title>
</head>
<body>
<a href="/index">Назад</a>
<br>
<hr/>
<div th:each="productInOrder : ${productsInOrders}">
  <div th:text=""></div>
  <a th:href="@{/products/{id}(id=${productInOrder.getProduct().getProductId()})}"></a>

  <a th:href="@{/orders/{id}(id=${productInOrder.getOrder().getOrderId()})}"
     th:text="${productInOrder.getName()}">Product</a>
</div>

<br/>
<hr/>
</body>
</html>