<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/index">Назад</a>
<br>
<hr>

<a href="/orders/ordersList">Список заказов</a>
<br>
<hr>
<form th:method="GET" th:action="@{/orders/ordersListSumAndCount}">
    <label for="sum">Найти заказ по минимальной сумме и количеству товаров: </label>
    <input type="number" th:name="sum" id="sum"/>
    <input type="number" th:name="count" id="count"/>
    <input type="submit" value="Поиск"/>
</form>
<hr>
<form th:method="GET" th:action="@{/orders/ordersListProduct}">
    <label for="product">Найти заказ по товару: </label>
    <input type="text" th:name="product" id="product"/>
    <input type="submit" value="Поиск"/>
</form>
<hr>
<form th:method="GET" th:action="@{/orders/ordersListNotProductAndDate}">
    <label for="product1">Найти заказ без заданного товара по дате: </label>
    <input type="text" th:name="product" id="product1"/>
    <input type="number" th:name="date" id="date"/>
    <input type="submit" value="Поиск"/>
</form>
<hr>
<form th:method="DELETE" th:action="@{/orders/ordersDelete}">
    <label for="product2">Удалить заказы по товару и его количеству: </label>
    <input type="text" th:name="product" id="product2"/>
    <input type="number" th:name="count" id="count1"/>
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>